.modal {
  padding-left: 15px;
  padding-right: 15px;
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-height: 70%;
  z-index: 1;
  overflow-y: auto;
}

.modal-content_content {
  padding-right: 10px;
  padding-left: 10px;
  background-color: #fff;
}

.btn-close {
  margin-left: 15px;
}

.modal-edit-options_mediaplan {
  margin-top: 120px;
  padding-left: 25px;
}